.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
    display: none !important;
}

/* .carousel-caption {
    right: 15% !important;
    left: initial !important;
    bottom: 15% !important;
} */